@charset "utf-8";

* {
    margin: auto 0;
    padding: 0;
    list-style: none;
    color: #333;
}

a {
    text-decoration: none;
    display: block;
}

header {
    width: 1200px;
    height: 285px;
}

nav {
    width: 200px;
    height: 600px;
    background: #33333333;
    float: left;
}

section {
    width: 1000px;
    height: 600px;
    background: #33333355;
    float: left;
}

.logo {
    text-align: center;
}

.logo img {
    /* logo 안에 있는 img (logo 포함)*/
    width: 180px;
    height: 80px;
}

.menu>li {
    /* .menu 안에 있는 li(.menu는 미포함) */
    width: 180px;
    height: 20px;
}
